<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs')%>
<body>
    <%- include('./partials/navbar.ejs')%>
    <% if(product.length > 0) {
        product.forEach(item => { %>
        <div class="product-card">
            <h2><%= item.name %></h2>
            <p><%= item.description%></p>
            <p><%= item.price %></p>
            <p>Category: <%= item.category%></p>
            <a href="/product/<%= item.id%>">Show Product</a>
            <hr>
        </div>
    <% }) %>
    <% } %>            
    
</body>
</html>